<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4" aria-label="Bienvenida">¡Bienvenido a la aplicación de gestión de empleados!</h1>
    <p class="lead" aria-label="Descripción de la aplicación">
      Esta es una aplicación robusta y fácil de usar diseñada para ayudarte a gestionar a tus empleados de manera eficiente. Con nuestra aplicación, puedes hacer lo siguiente:
    </p>
    <ul aria-label="Características de la aplicación">
      <li>Agregar nuevos empleados a tu base de datos.</li>
      <li>Editar la información de los empleados existentes.</li>
      <li>Eliminar empleados de tu base de datos.</li>
      <li>Ver los detalles de cada empleado, incluyendo su nombre, posición, salario, fecha de inicio y más.</li>
    </ul>
    <hr class="my-4">
    <p aria-label="Instrucciones de uso">Para comenzar, simplemente navega a la página de empleados o crea un nuevo empleado utilizando los enlaces en la barra de navegación, tambien podrás crear un empleado dentro de la tabla de la lista de empleados. Para eliminar empleados simplemente pulsa en el icono de la papelera asociado a cada empleado, si necesitas modificar alguno de ellos simplemente pulsa el icono del lapiz.</p>
    <p aria-label="Nota de autenticación">Por favor, ten en cuenta que necesitarás iniciar sesión para acceder a estas secciones. Utilizamos un sistema de autenticación basado en tokens para garantizar la seguridad de tus datos.</p>
    <p aria-label="Información de contacto">para recibir más información acerca de esta aplicación por favor escribe un correo electrónico al desarrollador <a href="mailto:joan.edom@eviden.com" title="Correo de contacto" style="cursor: pointer;">joan.edom&#64;eviden.com</a>.</p>
  </div>
</div>