<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <h4>Iniciar sesión</h4>
          <form (ngSubmit)="login()" class="mt-4">
            <div class="row mb-2">
              <label for="username">Nombre de usuario</label>
              <input
                class="form-control"
                type="text"
                id="username"
                [(ngModel)]="username"
                name="username"
                placeholder="EvidenAdmin"
                style="width: 90%; margin-left: 5%"
                pattern="[A-Za-z0-9]*"
                required
                title="Nombre de usuario"
                aria-label="Nombre de usuario"
              />
            </div>
            <div class="row mb-2">
              <label for="password">Contraseña</label>
              <input
                class="form-control"
                type="password"
                id="password"
                [(ngModel)]="password"
                name="password"
                placeholder="admin1234"
                style="width: 90%; margin-left: 5%"
                pattern="[A-Za-z0-9!@#$%^&*()_+=\-{}[\]\\|:;\,.?/~]*"
                required
                title="Contraseña"
                aria-label="Contraseña"
              />
            </div>
            <div
              class="button-container"
              style="display: flex; justify-content: center"
            >
              <button
                type="button"
                class="btn btn-sm btn-secondary rounded-pill ml-2 btn-width"
                title="Volver"
                style="cursor: pointer"
                (click)="goBack()"
                aria-label="Volver"
              >
                Volver
              </button>&nbsp;
              <button
                type="submit"
                class="btn btn-sm btn-success rounded-pill ml-2 btn-width"
                title="Login"
                style="cursor: pointer"
                aria-label="Login"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>